body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.main {
  background: url("./Images/gwendal-cottin-TcX5TSTUYzc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.custom {
  height: 300px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(226, 217, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0);
  transition-duration: 0.5s;
}

.custom:hover {
  border-style: solid;
  border-color: rgb(101, 104, 106);
  border-width: 2px;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.image {
  width: 100%;
  height: 50%;
  margin: 5px;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.title {
  font-family: "Barrio";
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgb(12, 25, 31);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 2px 5px 2px;
  color: rgb(226, 217, 220);
  border-radius: 10px;
}

.content {
  font-family: "Carter One";
  letter-spacing: 1px;
  font-size: 15px;
  padding: 10px 10px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(226, 217, 220);
  font-family: "Bahiana";
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 128px;
  line-height: 128px;
  text-shadow: 5px 0 rgb(12, 25, 31), -5px 0 rgb(12, 25, 31),
    0 5px rgb(12, 25, 31), 0 -5px rgb(12, 25, 31), 2px 2px rgb(12, 25, 31),
    -2px -2px rgb(12, 25, 31), 2px -2px rgb(12, 25, 31),
    -2px 2px rgb(12, 25, 31);
}

.spellbox {
  background: url("./Images/spellcheck.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.area {
  width: 100%;
  height: 75%;
  padding: 0px 100px;
  display: flex;
  align-items: center;
}

.textarea {
  height: 100%;
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border: none !important;
  overflow: auto;
  outline: none !important;
  box-shadow: none !important;
  resize: none;

  background-color: rgb(208, 201, 195) !important;
  border-style: solid !important;
  border-color: rgb(74, 68, 59) !important;
  border-width: 2px !important;
  border-radius: 5px;
  padding: 30px !important;
  font-size: 30px !important;
  font-family: "Adamina" !important;
}

.textfrom {
  height: 100%;
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border: none !important;
  overflow: auto;
  outline: none !important;
  box-shadow: none !important;
  resize: none;

  background-color: rgb(208, 201, 195) !important;
  border-style: solid !important;
  border-color: rgb(74, 68, 59) !important;
  border-width: 2px !important;
  border-radius: 5px;
  padding: 30px !important;
  font-size: 30px !important;
  font-family: "Adamina" !important;
}

.label {
  font-size: 64px;
  font-weight: bolder;
  font-family: "Adamina" !important;
  color: rgb(74, 68, 59) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 50px;

  text-shadow: 5px 0 rgb(208, 201, 195), -5px 0 rgb(208, 201, 195),
    0 5px rgb(208, 201, 195), 0 -5px rgb(208, 201, 195),
    2px 2px rgb(208, 201, 195), -2px -2px rgb(208, 201, 195),
    2px -2px rgb(208, 201, 195), -2px 2px rgb(208, 201, 195);
}

.label p {
  font-size: 16px;
  font-weight: bolder;
  font-family: "Adamina" !important;
  color: rgb(74, 68, 59) !important;

  text-shadow: 5px 0 rgb(208, 201, 195), -5px 0 rgb(208, 201, 195),
    0 5px rgb(208, 201, 195), 0 -5px rgb(208, 201, 195),
    2px 2px rgb(208, 201, 195), -2px -2px rgb(208, 201, 195),
    2px -2px rgb(208, 201, 195), -2px 2px rgb(208, 201, 195);
}

.btn {
  padding: 7px 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Adamina" !important;
  position: absolute;
  letter-spacing: 2px;
  right: 120px;
  bottom: 120px;
  background-color: rgb(74, 68, 59);
  color: rgb(208, 201, 195);
}

.btn:hover {
  background-color: rgb(74, 68, 59);
  color: rgb(208, 201, 195);
  border-style: solid;
  border-color: yellow;
}

.dropbtn {
  border: none;

  background-color: yellow;
  border-radius: 5px;
  padding: 1px 2px 1px 2px;
  margin: 1px 2px 1px 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  max-height: 320px;
  overflow-y: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px 0px 0px 10px;
}

.dropdown-content a {
  color: black;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  font-size: 20px !important;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: yellow;
  background-color: rgb(74, 68, 59);
}

.cicon {
  margin-left: 10px;
}

.Toastify__toast--error {
  border: 1px solid #eb5757;
  border-radius: 10px !important;
  background: #fae1e2 !important;
}
.Toastify__toast--error::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-family: "Adamina";
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast--error::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success {
  border: 1px solid #3a9ea5 !important;
  border-radius: 10px !important;
  background: #d6dedf !important;
}
.Toastify__toast--success::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--success::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-family: "Adamina";
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast--warning {
  border: 1px solid #e78326 !important;
  border-radius: 10px !important;
  background: #fadfc5 !important;
}
.Toastify__toast--warning::before {
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 6px;
}
.Toastify__toast--warning::after {
  position: absolute;
  color: #e78326;
  font-size: 15px;
  font-family: "Adamina";
  font-weight: 700;
  left: 265px;
  padding-top: 14px !important;
}
.Toastify__toast-body {
  color: #444c63;
  font-size: 16px;
  font-family: "Adamina";
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  padding-top: 25px;
  width: 100%;
  font-weight: 400;
  margin-left: 25px !important;
}
.Toastify__toast > button > svg {
  display: none;
}

@media screen and (max-width: 1200px) {
  .main {
    background: url("./Images/gwendal-cottin-TcX5TSTUYzc-unsplash.jpg");
    background-repeat: repeat-y;
    background-size: 100% 100%;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }

  .custom {
    margin: 15px 0px 15px 0px;
  }

  .area {
    width: 100%;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    padding: 7px 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Adamina" !important;
    position: absolute;
    letter-spacing: 2px;
    right: 100px;
    bottom: 140px;
    background-color: rgb(74, 68, 59);
    color: rgb(208, 201, 195);
  }

  .btn:hover {
    background-color: rgb(74, 68, 59);
    color: rgb(208, 201, 195);
    border-style: solid;
    border-color: yellow;
  }
}
