body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.main {
  background: url("./Images/gwendal-cottin-TcX5TSTUYzc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.custom {
  height: 300px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(226, 217, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0);
  transition-duration: 0.5s;
}

.custom:hover {
  border-style: solid;
  border-color: rgb(101, 104, 106);
  border-width: 2px;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.image {
  width: 100%;
  height: 50%;
  margin: 5px;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.title {
  font-family: "Barrio";
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgb(12, 25, 31);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 2px 5px 2px;
  color: rgb(226, 217, 220);
  border-radius: 10px;
}

.content {
  font-family: "Carter One";
  letter-spacing: 1px;
  font-size: 15px;
  padding: 10px 10px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(226, 217, 220);
  font-family: "Bahiana";
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 128px;
  line-height: 128px;
  text-shadow: 5px 0 rgb(12, 25, 31), -5px 0 rgb(12, 25, 31),
    0 5px rgb(12, 25, 31), 0 -5px rgb(12, 25, 31), 2px 2px rgb(12, 25, 31),
    -2px -2px rgb(12, 25, 31), 2px -2px rgb(12, 25, 31),
    -2px 2px rgb(12, 25, 31);
}

.spellbox {
  background: url("./Images/spellcheck.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.area {
  width: 100%;
  height: 75%;
  padding: 0px 100px;
  display: flex;
  align-items: center;
}

textarea {
  height: 100%;
  width: 100%;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border: none !important;
  overflow: auto;
  outline: none !important;
  box-shadow: none !important;
  resize: none;

  background-color: rgb(208, 201, 195) !important;
  border-style: solid !important;
  border-color: rgb(74, 68, 59) !important;
  border-width: 2px !important;
  border-radius: 5px !important;
  padding: 30px !important;
  font-size: 30px !important;
  font-family: "Adamina" !important;
}

.textarea {
  height: 100%;
  width: 100%;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border: none !important;
  overflow: auto;
  outline: none !important;
  box-shadow: none !important;
  resize: none;

  background-color: rgb(208, 201, 195) !important;
  border-style: solid !important;
  border-color: rgb(74, 68, 59) !important;
  border-width: 2px !important;
  border-radius: 5px;
  padding: 30px !important;
  font-size: 30px !important;
  font-family: "Adamina" !important;
}

.label {
  font-size: 64px;
  font-weight: bolder;
  font-family: 'Adamina' !important;
  color: rgb(74, 68, 59) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 50px;

  text-shadow: 5px 0 rgb(208, 201, 195), -5px 0 rgb(208, 201, 195),
    0 5px rgb(208, 201, 195), 0 -5px rgb(208, 201, 195), 2px 2px rgb(208, 201, 195),
    -2px -2px rgb(208, 201, 195), 2px -2px rgb(208, 201, 195),
    -2px 2px rgb(208, 201, 195);
}

.btn {
  padding: 7px 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Adamina' !important;
  position: absolute;
  letter-spacing: 2px;
  right: 120px;
  bottom: 120px;
  background-color: rgb(74, 68, 59);
  color: rgb(208, 201, 195);
}

@media screen and (max-width: 1200px) {
  .main {
    background: url("./Images/gwendal-cottin-TcX5TSTUYzc-unsplash.jpg");
    background-repeat: repeat-y;
    background-size: 100% 100%;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }

  .custom {
    margin: 15px 0px 15px 0px;
  }
}
